/* External Style Sheet */
h1 {
    font-weight: 300;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

hl {
    font-weight: 100;
    text-align: center;
    padding-bottom: 5px;
}


.center-block {
    width: 300px;
    margin: 50px auto;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
