/* External Style Sheet */
.center-block {
    width: 300px;
    margin: 50px auto;
    background-color: #f4f4f4;
    padding: 20px; /* This creates space between the box edge and the form */
    border: 1px solid #ccc;
    border-radius: 10px;
}
