/* External Style Sheet */
h1 {
    font-weight: 300;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

h4 {
    font-weight: 175;
    text-align: center;
    padding-bottom: 5px;
}


.center-block {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20;
    font-family: Arial;
    color: #333;
    width: 300px;
    height: 500px;
}
